

#game-wrapper {
    background-color: black;
    border-top-left-radius: 95%;
    border-top-right-radius: 92%;
    border-bottom-left-radius: 92%;
    border-bottom-right-radius: 92%;
    height: 540px;
    width: 540px;
    position: relative;
    top: 30px;
    left: 30px;
}

.game-button {
    height: 220px;
    width: 220px;
    opacity: 0.5;
    position: relative;
    display: inline-block;
}




#green { 
    border-top-left-radius: 100%; 
    background-color: green; 
    box-shadow: inset 5px 5px 10px green;
    margin-top: 35px;
    margin-left: 35px;
}

#red { 
    border-top-right-radius: 100%; 
    background-color: red;
    margin-top: 35px;
    margin-left: 30px;
}

#blue { 
    border-bottom-left-radius: 100%; 
    background-color: blue;
    margin-left: 35px;
    margin-top: 30px;
}
#yellow { 
    border-bottom-right-radius: 100%; 
    background-color: yellow;
    margin-left: 30px;
    margin-top: 30px;
}

.pressed { opacity: 1; }

#console {
    background-color: lightgray;
    border: 15px solid black;
    border-radius: 100%;
    text-align: center;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 195px;
    left: 190px;
}

#logo, #controls-center-wrapper {
    height: 55px;
    width: 170px;
    position: relative;
    top: 25px;
    left: 15px;
}

#logo-text {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: -.08em;
    position: absolute;
    bottom: -10px;
    left: 5px;
}

.controls-center {
    height: 50px;
    display: inline-block;
}

#count {
    border: 3px solid rgb(70, 69, 69);
    border-radius: 10px;
    background-color: rgb(70, 0, 0);
    height: 35px;
    width: 55px;
    position: relative;
    right: 20px;
}

#steps {
    position: absolute;
    bottom: -6px;
    right: 1px;
    font-family: monospace;
    color: rgb(104, 33, 33);
    text-align: center;
    font-size: 42px;
    visibility: visible;
}

.steps-power-on {
    color: red !important;
}

#strict-wrapper {
    position: relative;
    left: 20px;
}

#start, #strict {
    border: 3px solid black;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px darkslategray;
    position: relative;
}

#start { 
    background-color: red; 
}

#start:active, #strict:active {
    transform: translateY(1px);
}

#strict { 
    background-color: yellow; 
    left: 2px;
    top: 7px;
}

#strict-light {
    background-color: rgb(54, 14, 14);
    border: 2px solid black;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    position: relative;
    left: 10px;
    top: 7px;
    margin-bottom: 3px;
}

.strict-light-on {
    background-color: rgb(252, 22, 60) !important;
}

.text {
    font-family: 'Arial Narrow';
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    position: relative;
}

#count-text {
    right: 10px;
}

#start-text {
    left: 20px;
}

#strict-text {
    left: 30px;
}

#switch-wrapper {
    height: 35px;
    position: relative;
    top: 40px;
}

#power-wrapper {
    background-color: black; 
    height: 27px;
    width: 54px;
    position: relative;
    top: 10px;
    right: -5px;
}

.power {
    display: inline-block;
}

#on-text {
    position: relative;
    right: 8px;
    left: 5px;
    top: 2px;
    width: 15px;
    font-size: 14px;
    font-weight: bold;
}

#off-text {
    position: relative;
    left: 6px;
    top: 2px;
    font-size: 14px;
    font-weight: bold;
}

#power-switch {
    background-color: rgb(87, 186, 248);
    border: 1px solid darkslategray;
    border-radius: 5px;
    height: 23px;
    width: 23px;
    position: relative;
    top: 1px;
    right: 11px;
}

.on {
    transform: translateX(23px);
}